@using Kimi.MudBlazorExtentions.Buttons
@using Kimi.MudBlazorExtentions.Extensions
@using Kimi.MudBlazorExtentions.Components
@using MudBlazor
@using Microsoft.AspNetCore.Components.Forms
@typeparam T

<MudGrid Spacing="0" Class="pa-0 ma-0" Style="height:100%;">
    <MudItem xs="12">
        <MudCard Class="ma-0 pa-0">
            @if (ShowActionBar)
            {
                <MudToolBar Style="display:flex; min-height:85px;" Class="py-3">
                    @if (ShowSubmit)
                    {
                        if (UseFab)
                        {
                            <ErrorCatchLoadingFab Label="@SubmitLable" StartIcon="@Icons.Material.Outlined.Check" Size="Size.Medium"
                                Vertical="@VirticalFab" OnClick="@(()=>OnSubmit.InvokeAsync(this))" Color="Color.Primary"
                                Disabled="@(IsReadOnly)"></ErrorCatchLoadingFab>
                        }
                        else
                        {
                            <ErrorCatchLoadingButton Label="@SubmitLable" Icon="@Icons.Material.Filled.Check"
                                OnClick="@(()=>OnSubmit.InvokeAsync(this))" Variant="Variant.Filled" Color="Color.Primary"
                                Class="ml-2" Disabled="@(IsReadOnly)">
                            </ErrorCatchLoadingButton>
                        }
                    }
                    @if (UserActions != null)
                    {
                        @UserActions(this)
                    }
                    <MudSpacer />
                    @if (ShowDelete)
                    {
                        if (UseFab)
                        {
                            <ErrorCatchLoadingFab Label="@DeleteLable" StartIcon="@Icons.Material.Outlined.Clear" Size="Size.Medium"
                                Vertical="@VirticalFab" OnClick="@(()=>OnDelete.InvokeAsync(this))" Color="Color.Error"
                                Disabled="@(IsReadOnly)"></ErrorCatchLoadingFab>
                        }
                        else
                        {
                            <ErrorCatchLoadingButton Label="@DeleteLable" Icon="@Icons.Material.Filled.Clear"
                                Variant="Variant.Filled" Color="Color.Error" OnClick="@(()=>OnDelete.InvokeAsync(this))"
                                Disabled="@IsReadOnly">
                            </ErrorCatchLoadingButton>
                        }

                    }
                    @if (ShowXmlOfType)
                    {
                        if (UseFab)
                        {
                            <div class="pl-5">
                                <MudTooltip Text="@TypeXml" Class="pl-5" Arrow="true" Placement="Placement.Bottom">
                                    <ErrorCatchLoadingFab Label="@HelperLable" StartIcon="@Icons.Material.Outlined.Help"
                                        Size="Size.Medium" Vertical="@VirticalFab" Color="Color.Default" Disabled="@(IsReadOnly)">
                                    </ErrorCatchLoadingFab>
                                </MudTooltip>
                            </div>
                        }
                        else
                        {
                            <div class="pl-5">
                                <MudTooltip Text="@TypeXml" Class="pl-5" Arrow="true" Placement="Placement.Bottom">
                                    <ErrorCatchLoadingButton Label="@DeleteLable" Icon="@Icons.Material.Filled.Help"
                                        Variant="Variant.Filled" Color="Color.Default" Disabled="@IsReadOnly">
                                    </ErrorCatchLoadingButton>
                                </MudTooltip>
                            </div>
                        }
                    }
                </MudToolBar>
                if(Model == null)
                {
                <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="my-0" />
                }
            }
        </MudCard>
    </MudItem>

    <MudItem xs="12">
        <ToggleFullScreen>
        <div id="@baseCrudFormDivId" style="width:100%; min-height:100%;">
            <MudCard Style="min-height:100%; overflow-y:auto;" Class="pa-0 ma-0">
                <MudForm Model="@Model" style="width:100%; min-height:max(100%,600px);" @ref="EditForm" Validation="@Validation" Class="pa-0 ma-0"
                    ValidationDelay="0" id="@formId">
                    @if (ShowValidationSummary)
                    {
                        <ValidationSummary />
                    }
                    @if (ChildContent != null)
                    {
                        @ChildContent(this)
                    }
                </MudForm>
                @if (FooterContent != null)
                {
                    @FooterContent(this)
                }
            </MudCard>
        </div>
        </ToggleFullScreen>
    </MudItem>
</MudGrid>